body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.h1-hi{
    text-align: center;
}

.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    background-color:#4D5AE5;
}

.button:hover, .button:focus{
    background-color: #404BBF;
}

a{
    color: #2E2F42;
    text-decoration: none;
}

.link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover, .link:focus, .link-a:hover, .link-a:focus{
    color: #404BBF;
}

ul{
    list-style-type: none;
}
.logo-web{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio{
color: #2E2F42;
/*font-family: 'Raleway', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.54px;
text-transform: uppercase;*/
}

.adress{
    font-style: normal
}

.link-a{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.hero-image{
    background-color: #2E2F42;
    color: #FFFFFF;
}

.h1-hi{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 1.12px;
}

.h2-s2{
    text-align: center;
}

.h3-s1, .h3-s2, .h3-s3{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}

.p-s1, .p-s2, .p-s3{
    color: #434455;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}

.section2{
    background-color: #F4F4FD;
}

.li-s2{
    background-color: #FFFFFF;
}

.h2-s2, .h2-s3{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
/*
.section2 h3, {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; 
    letter-spacing: 0.4px;
}

.section2 p{
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; 
    letter-spacing: 0.32px;
}
*/
.footer{
    background-color: #2E2F42;
}
.logo-fut{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-s-fut{
    color: #F4F4FD;
}
.footer p{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}